@tailwind base;
@tailwind components;
@tailwind utilities;

/*       transparent: 'transparent',
      black: '#000000',
      white: '#F6F6F6',
      gray: '#565656',
      orange: '#E80102',
      pink: '#FF86C0' */

/* :root {
  --foreground-rgb: rgb(246, 246, 246);
  --background-rgb: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  @apply bg-black font-inter text-white;
}

h1 {
  @apply text-2xl font-normal leading-none text-white md:text-3xl lg:text-4xl;
}

h2 {
  @apply pb-14 text-xl md:text-2xl lg:text-3xl font-normal leading-none text-white;
}

h3 {
  @apply text-2xl font-normal text-white;
}

h4 {
  @apply text-xl font-normal text-white;
}

p {
  @apply text-base font-normal text-white;
}

a {
  @apply text-base text-white underline;
}
